{% extends 'base.html'%}
{% load static%}
{% block body%}

<div class="container my-3">
    <h1 class="text-center">Your Tasks</h1>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task Id</th>
            <th scope="col">Task Title</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    {% if tdl %}


    <tbody>
        {% for i in tdl %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.tasks_name}}</td>
            <td>{{i.tasks_details}}</td>
            <td><a href="{% url 'madone' i.id %}"><button class="btn btn-outline-success">Mark as done</button></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <th scope="row"></th>
            <h3>No Tasks added</h3>
        
        </tr>
    </tbody>
    {% endif %}
</table>







{% endblock body%}